body {
    background-color: rgb(6, 2, 34) !important;
}

textarea {
    font-family: monospace;
    background-color: #f1f1f1;
}

h5 {
    font-weight: bold;
}

iframe {
    border: 1px solid #ced4da;
    background-color: #fff;
}

.clip{
    color: transparent;
    position: relative;
    background: linear-gradient(90deg, rgb(132, 0, 255) 0%, red 100%);
    background-clip: text;
    -webkit-background-clip: text;
}